:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --works-bg-color: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --fill-clients-color: #afb1b8;
  --accent-shadow-color: rgba(33, 150, 243, 0.02);
  --modal-color: rgba(33, 33, 33, 0.2);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sant-serif;
  font-size: 14;
  line-height: 1.714em;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  outline: none;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.nav-header {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.item,
.item-contact {
  text-decoration: none;
  list-style: none;
}
.free-line {
  display: inline-block;
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  box-shadow: 2px 2px 2px 2px var(--accent-shadow-color);
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

.site-nav {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item-contact:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link-nav {
  color: var(--secondary-text-color);
  text-decoration: none;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-header {
  margin-right: 10px;
}

.site-nav .link-current {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link-current::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--accent-color);
}

.section {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
}

.section-header {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.hero-bg {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.section-hero {
  display: flex;
  text-align: center;
  box-sizing: border-box;
}
.title-hero {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-transform: uppercase;
}

.unvisible {
  display: none;
  /* visibility: hidden; */
}

.section-hero .button {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  border-radius: 4px;
  border-color: transparent;
  color: var(--text-color);
  background-color: var(--accent-color);
}

.section .title-secondary {
  font-style: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

/* -----------------peculiarities------------ */

.text-peculiarities {
  width: 270px;
}

.icon-peculiarities {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
}

.section-peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-peculiarities .item:not(:last-child) {
  margin-right: 30px;
}

.text-peculiarities {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.section .title-third {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* ---------------WORKS-------------- */
.section-works .container {
  display: block;
}

.section-works {
  padding-bottom: 94px;
}

.section-works .item:not(:last-child) {
  margin-right: 30px;
}

.section-works .item {
  position: relative;
}

.works-title {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--works-bg-color);
  display: flex;
  bottom: 0;
}
.works-title .title-third {
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text-color);
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
}
/* ----------------COMAND------------------- */
.section-command {
  background-color: rgb(240, 240, 250);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-command .item:not(:last-child) {
  margin-right: 30px;
}

.section .title-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  margin-bottom: 10px;
}

.section .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.185;
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
}
.title-comand {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.comand-shadow {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.comand-social-item {
  width: 44px;
  height: 44px;
  align-items: center;
}

.comand-list {
  display: flex;
  justify-content: center;
  fill: var(--fill-clients-color);
}
.comand-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comand-social-link:hover,
.comand-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--fill-clients-color);
}
.comand-socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-clients-color);
}

.comand-social-item:not(:last-child) {
  margin-right: 10px;
}

.comand-social-link:hover .comand-socials-icon,
.comand-social-link:focus .comand-socials-icon {
  fill: var(--text-color);
}

/* -------------CLIENTS---------------- */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  width: 170px;
  height: 92px;
  text-align: center;
  border: 1px solid var(--fill-clients-color);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--fill-clients-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ln-clients:not(:last-child) {
  margin-right: 30px;
  /* fill: var(--fill-clients-color); */
}

.link-clients {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover .clients,
.link-clients:focus .clients {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ----------------Footer------------------ */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.385;
  letter-spacing: 0.03em;
  text-decoration: none;
  align-items: center;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-social {
  margin-right: 70px;
}
.footer .logo {
  color: var(--text-color);
  margin-bottom: 20px;
}

/* .footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
} */

.footer .address {
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer .contact {
  width: 231px;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.174;
  text-decoration: none;
  margin-right: 70px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer-social-item {
  width: 44px;
  height: 44px;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  margin-right: 93px;
}

.footer .title-third {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color);
}

.footer-submit-send {
  display: flex;
  align-items: center;
}

.footer-submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 8px 10px 29px;
  margin: 0 auto;
  outline: none;
  border-color: transparent;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.footer-submit-btn::after {
  content: '';
  background-image: url(../images/send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--text-color);
}

.footer-modal-field {
  display: flex;
}
.footer-input-wrap {
  display: flex;
  width: 358px;
  height: 50px;
  margin-right: 12px;

  /* 
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  
  color: rgba(255, 255, 255, 0.6); */
}

.footer-modal-input {
  width: 100%;
  border: 1px solid var(--modal-color);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-input:focus {
  border-color: var(--accent-color);
}

/* ----------------PORTFOLIO---------- */
.section-portfolio {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
  padding-top: 94px;
  display: block;
}

.section-portfolio .item:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio .title-secondary {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
  text-align: left;
}

.section-portfolio .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.875;
  text-decoration: none;
  text-align: center;
  text-align: left;
}

.wrap-portfolio {
  position: relative;
  overflow: hidden;
}

.wrap-text-portfolio {
  position: absolute;
  width: 370px;
  top: 0;
  left: 0;
  color: var(--text-color);
  background-color: var(--accent-color);
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.section-portfolio .filter {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.625;
  border-color: transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio .filter-current,
.section-portfolio .filter:hover,
.section-portfolio .filter:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.list-portfolio-btn {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 50px;
}

.list-portfolio {
  list-style: none;
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}
.item-works:not(:nth-child(3n)) {
  margin-right: 30px;
}
.item-works:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.list-portfolio-btn .item:hover,
.list-portfolio-btn .item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.item-works:focus,
.item-works:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.item-works:focus,
.item-works:hover .wrap-text-portfolio {
  transform: translateY(0);
}

/* ------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: block;
  position: absolute;
  top: 11px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
}
.close-btn-icon {
  width: 11px;
  height: 11px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .close-btn-icon,
.close-btn:hover .close-btn-icon {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
}

.modal-field {
  font-style: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
}
.modal-field-textarea {
  margin-bottom: 20px;
}

.modal-field-check {
  margin-bottom: 30px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-label {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: -var(--secondary-text-color);
}
.modal-input {
  width: 100%;
  padding: 11px;
  border: 1px solid var(--modal-color);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 30px;
  color: var(--secondary-text-color);
  font-size: 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid var(--modal-color);
  border-radius: 5px;
  resize: none;
  padding: 10px 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--secondary-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus,
.modal-text:hover {
  border-color: var(--accent-color);
}

.input-wrap {
  display: block;
  position: relative;
}

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-text-color);

  display: flex;
  position: relative;
  justify-content: center;
}

.check-link {
  color: var(--accent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-check {
  fill: var(--text-color);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  outline: none;
  border-color: transparent;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
