.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  width: 170px;
  height: 92px;
  text-align: center;
  border: 1px solid var(--fill-clients-color);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--fill-clients-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ln-clients:not(:last-child) {
  margin-right: 30px;
}

.link-clients {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover .clients,
.link-clients:focus .clients {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
